name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  ci:
    name: CI - Tests et Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
      - run: npm test
      - run: npm run lint

  cd:
    name: CD - Docker build & push
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/examen-test:latest .
      - run: docker push ${{ secrets.DOCKER_USERNAME }}/examen-test:latest
      security_scan:
        name: Security - Trivy Scan
        runs-on: ubuntu-latest
        needs: cd
    
        steps:
          - name: Installer Trivy
            uses: aquasecurity/trivy-action@0.20.0
            with:
              image-ref: ${{ secrets.DOCKER_USERNAME }}/examen-test:latest
              severity: HIGH,CRITICAL
              exit-code: 0
              format: table
    